.loading {
    position: relative;
    width: 100%;
    height: 100%;

    .inner {
        text-align: center;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;

        h1 {
            height: initial;
        }

        img {
            height: 120px;
            width: 120px;
        }
    }
}
